* {
  margin: 0;
  padding: 0;
  font-family: Calibri;
}

body {
  background: #111;
}

h1 {
  text-align: center;
  font-size: 86px;
  padding: 10px;
  color: #eee;
  position: relative;
}

h1::after {
  content: "";
  position: absolute;
  width: 100%;

  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #44f;

  transform-origin: bottom;

  animation: 0.8s ease-out 0s 1 loadHr;
}

@keyframes loadHr {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}
